body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.content {
    background-color:#1F2937;
    color:#F9FAF8;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.image-holder {
    border: solid 2px white;
    width: 300px;
    height: 150px;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    border: 0;
}